In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
dados = pd.DataFrame({
                      "primeira gravação": np.array([20.2,4.62,1.34,.4,0.15,.07,.04,.03,.02,.01]),
                      "segunda gravação": np.array([20.2,5.02,1.29,.41,.15,.07,.04,.02,.02,0.01]),
                      "terceira gravação": np.array([20.2,4.87,1.3,.42,.15,.08,.04,.03,.02,.01]),
                      "quarta gravação": np.array([20.2,4.74,1.31,.39,.14,.07,.04,.02,.02,.01]),
                      "quinta gravação": np.array([20.2,5.18,1.3,.39,.15,.07,.04,.02,.02,.01])},
                      index = [0,12,24,36,48,60,72,84,96,108])

dados

,primeira gravação,segunda gravação,terceira gravação,quarta gravação,quinta gravação
0,20.20,20.20,20.20,20.20,20.20
12,4.62,5.02,4.87,4.74,5.18
24,1.34,1.29,1.30,1.31,1.30
36,0.40,0.41,0.42,0.39,0.39
48,0.15,0.15,0.15,0.14,0.15
60,0.07,0.07,0.08,0.07,0.07
72,0.04,0.04,0.04,0.04,0.04
84,0.03,0.02,0.03,0.02,0.02
96,0.02,0.02,0.02,0.02,0.02
108,0.01,0.01,0.01,0.01,0.01

In [14]:
dados.mean(axis=1) # faz a operação para cada linhas

0      20.200
12      4.886
24      1.308
36      0.402
48      0.148
60      0.072
72      0.040
84      0.024
96      0.020
108     0.010
dtype: float64

In [15]:
dados.std(axis=1)

AttributeError: 'DataFrame' object has no attribute 'sd'